---
http_interactions:
- request:
    method: get
    uri: http://api.opendota.com/api/search?q=KSHHJ&similarity=0.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8-oi/IVCGvLg1bbMKG6uwkDg"
    body:
      encoding: ASCII-8BIT
      string: '[{"account_id":101260776,"avatarfull":"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/85/85f3087786e23098f4c0c65d926f0d50e4e457a6_full.jpg","personaname":"KSHHJ","similarity":1}]'
  recorded_at: Sun, 22 Jan 2017 10:38:20 GMT
recorded_with: VCR 3.0.3
