---
http_interactions:
- request:
    method: get
    uri: http://api.opendota.com/api/players/0000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-Y04oaNooVP7A0OsIjz7Aqg"
    body:
      encoding: ASCII-8BIT
      string: '{"tracked_until":null,"solo_competitive_rank":null,"competitive_rank":null,"mmr_estimate":{"estimate":null,"stdDev":null,"n":0}}'
  recorded_at: Sun, 22 Jan 2017 03:08:24 GMT
recorded_with: VCR 3.0.3
